<section class="blog-post">

        <div div class="blog-post container-2">
            <img class="blog-post-img" src="/assets/img/blog-img/MobileFallback.webp" alt="">
    
            <div class="blog-post-text paragraph">
    
                <h2 class="blog-post-title">How To Release A New Song (The Best Way!)</h2>
                
                   <p>
                    There is no period of time more critical for an independent artist than the time directly leading up to
                    the release of a new single. This is the time for you as a recording artist to switch gears, and you
                    will have to fulfill many different roles in order to build for your song the conditions of a successful
                    release.
                   </p> 
    
                   <p>

                    <span class="blog-subtitle">Give Yourself Four Weeks</span><br>
    
                    Before releasing your song, I recommend creating a four week release campaign. This means that if your
                    song is finished on Day 1, it isn’t available to the public until Day 28. There are a number of reasons
                    to set your release date four weeks ahead. Most importantly, this four week release campaign allows you
                    to properly submit your song to Spotify Editorial Playlists. Most songs that are submitted to these
                    playlists do not get approved - however, if you are consistently submitting your songs (and if you have
                    a consistent release schedule), then eventually you will get one of these breakthrough playlist
                    placements.
    
                   </p>
    
                   <p>
                    Another reason to give yourself four weeks to release your song is to avoid impulsive decision making as
                    an artist. These four weeks are your chance to treat your music like a business. A business executive at
                    Marvel wouldn’t just release the new Avengers movie two days after it is finished, just because it’s so
                    good that they don’t want to wait. Similarly, I have seen far too many recording artists struggle with
                    this reflex to get those plays and all the validation that comes with them. However, by making impulsive
                    decisions - and never structuring a proper release campaign - you are trapping yourself in a perpetual
                    cycle of disappointing outcomes.
    
                   </p>
    
                   <p>
                    <span class="blog-subtitle">Use the Time to Your Advantage!</span><br>
    
                    Let’s touch on the basics of what you should do during the four week period leading up to the release of
                    your new single. First of all, you need to set your release date on whatever digital distributor you
                    use. For example, if you use Distrokid, you can send your song to all the streaming platforms on Day 1
                    and have your song ready for submission to Spotify Editorial Playlists a few days later (to do this,
                    you’ll have to access your Spotify for Artists account on a desktop computer and find your unreleased
                    song under the “Upcoming” tab).
    
                    After your release is set up, you can think of your release campaign in two domains. The first is
                    Nurturing: your promotion to those who already follow you. These are the people that will pre-save your
                    song, engage with your Instagram teasers or share the song with their friends. This is because they
                    already believe in you as an artist - they either know you personally, or they follow you because they
                    like your music and content. This group of fans must be nurtured and reinforced for their commitment to
                    your music. Consider running a giveaway to show appreciation, or releasing some content that shouts out
                    your followers in some way. Connecting this content to the release of your new song will help you
                    convert new listeners to fans.
    
                    The second domain to consider in your release is Outreach. This is the side of your release campaign
                    that will try to broaden your audience and introduce your single to as many potential fans as possible.
                    Submitting to the Spotify Editorial Playlists is one way to do this, but there are many services that
                    are free or budget-friendly to get posted to playlists, blogs and other media sources. For more specific
                    resources on how to use these four weeks to your greatest benefit, check out our Artist Resources
                    Handbook.
    
                   </p>
    
                </div>
            </div>
    
        </section>