<section class="blog-post">

    <div div class="blog-post container-2">
        <img class="blog-post-img" src="/assets/img/blog-img/website13.webp" alt="">

        <div class="blog-post-text paragraph">

            <h2 class="blog-post-title">Top 3 Vocal Exercises For Rappers</h2>

            <p>
                There are few things that ruin a recording session like a fatigued voice that just won’t do what you
                want. Yet, most rappers treat their voice like an old car: it only exists to get you where you need to
                go, and there’s no point in keeping it tuned up or performing regular maintenance. Unfortunately, this
                will lead to underwhelming performances and stress or fatigue that will wear down your voice over time.
                Treat your voice like the luxury vehicle of your dreams, and it will only become stronger, fuller and
                more consistent as a result. To help, we’ve put together a few simple vocal exercises that you can do
                before you get into the studio to keep the vocal strain at bay.
            </p>

            <p>

                <span class="blog-subtitle">1. Lip Buzz</span><br>

                This is a really common one that many rappers already know about. The key to this exercise and most
                others is to gently engage the mouth, lips and vocal chords through vibration. The exercise itself is
                simple: put your lips loosely together and push air through gently, creating a “Brrr” sound as if you’re
                mimicking a horse. If this sounds confusing, check out the video below:

            </p>

            <p>
                <span class="blog-subtitle">2. Throat Buzz</span><br>
                Doing closed mouth vocal exercises is a great way to open up your voice without straining your vocal
                chords. When you do this exercise, you will keep your mouth mostly closed and hum a short scale making
                buzzing sounds of the letter “z”. Start on one note and go up four or five, then back down again. Don’t
                fret too much about which note you start on or where you end, as long as it’s somewhere in the middle of
                your vocal register and doesn’t strain your throat. The main thing about this scale is that your hum
                should sound like a “zzz” as you move the note up and down. Repeat this 3 times fully up and down. Your
                throat, jaw and tongue should feel more relaxed and open

            </p>

            <p>
                <span class="blog-subtitle">The Siren</span><br>

                Now that you’ve warmed up with two closed-mouth exercises, you can open up and start projecting your
                voice. For this easy vocal warm up, just think of the sound made by a passing fire engine or ambulance.
                Start on a note very low in your vocal register and glide upwards to where your voice starts to falter.
                This can also be a great test of what shape your voice is in. If you find it hard to stretch your voice
                either low or high, it might be a sign that your voice is fatigued or strained.

            </p>

        </div>
    </div>

</section>