<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" 
    content="There is no period of time more critical for an independent artist than the time directly leading up to the release of a new single. This is the time for you as a recording artist to switch gears, and you will have to fulfill many different roles in order to build for your song the conditions of a successful release... more">
    <title>Contact</title>
</head>

<section class="about-hero">
    <div class="hero">
        <div class="header-container">
            <h1 class="blog-header">OG BLOG</h1>

        </div>
    </div>
</section>

<section class="blog">
    <!-- How to release a song -->

    <div class="blog-posts container-2">
        <div class="img-wrapper">
            <a routerLink="/blog/how-to-release-a-new-song"
            href="/blog/how-to-release-a-new-song">
            <img class="blog-post-img" src="/assets/img/blog-img/MobileFallback.webp" alt="">
            </a>
        </div>

        <div class="blog-text blog-1">
            <a routerLink="/blog/how-to-release-a-new-song"
            href="/blog/how-to-release-a-new-song" class="header-link">
            <h2 class="blog-title">How to release a new song (the best way)</h2>
            </a>
            <p class="paragraph blog-description">There is no period of time more critical for an independent artist
                than the time
                directly leading up to the release of a new single. This is the time for you as a recording artist to
                switch gears, and you will have to fulfill many different roles in order to build for your song the
                conditions of a successful release... <a routerLink="/blog/how-to-release-a-new-song" href="/blog/how-to-release-a-new-song" class="blog-link">more</a></p>

        </div>
    </div>


    <!-- How to communicate with audio enginner  -->
    <div class="blog-posts container-2">
        <div class="img-wrapper">
            <a routerLink="/blog/how-to-communicate-with-your-audio-engineer"
            href="/blog/how-to-communicate-with-your-audio-engineer">
            <img class="blog-post-img" src="/assets/img/SERVICES_compressed.webp" alt="">
            </a>
        </div>

        <div class="blog-text blog-2">
            <a routerLink="/blog/how-to-communicate-with-your-audio-engineer"
            href="/blog/how-to-communicate-with-your-audio-engineer" class="header-link">
            <h2 class="blog-title">HOW TO COMMUNICATE WITH YOUR AUDIO ENGINEER</h2>
            </a>
            <p class="paragraph blog-description">There is no period of time more critical for an independent artist
                than the time
                directly leading up to the release of a new single. This is the time for you as a recording artist to
                switch gears, and you will have to fulfill many different roles in order to build for your song the
                conditions of a successful release... <a routerLink="/blog/how-to-communicate-with-your-audio-engineer" href="/blog/how-to-communicate-with-your-audio-engineer" class="blog-link">more</a></p>

        </div>
    </div>

    <!-- How to find rap studio near you -->
    <div class="blog-posts container-2">
        <div class="img-wrapper">
            <a routerLink="/blog/how-to-find-a-rap-studio-near-you"
            href="/blog/how-to-find-a-rap-studio-near-you">
            <img class="blog-post-img" src="/assets/img/blog-img/recording-studio-near-me.webp" alt="">
            </a>
        </div>

        <div class="blog-text blog-3">
            <a routerLink="/blog/how-to-find-a-rap-studio-near-you"
            href="/blog/how-to-find-a-rap-studio-near-you" class="header-link">
            <h2 class="blog-title">HOW TO FIND A RAP STUDIO NEAR YOU</h2>
            </a>
            <p class="paragraph blog-description">In our <a routerLink="/blog/5-basic-keys-to-a-productive-studio-session" href="/blog/5-basic-keys-to-a-productive-studio-session" class="blog-link">“5 Basic Keys to a Productive Studio Sesson”</a>  article, we
                discussed several criteria that you as an artist should consider before making a studio your permanent
                home. We’ll dive into those below, but first I’d like to address one common pitfall that plagues artists
                of all styles and genres: the friend with a studio. Almost every artist hits this stage of their
                development, where they are courted by a friend with a fledgling studio and the promise of free or
                inexpensive recording time… <a routerLink="/blog/how-to-find-a-rap-studio-near-you" href="/blog/how-to-find-a-rap-studio-near-you" class="blog-link">more</a></p>

        </div>
    </div>

    <!-- top 3 vocal exercises for rappers -->
    <div class="blog-posts container-2">
        <div class="img-wrapper">
            <a routerLink="/blog/top-3-vocal-exercises-for-rappers"
            href="/blog/top-3-vocal-exercises-for-rappers">
            <img class="blog-post-img" src="/assets/img/blog-img/website13.webp" alt="">
            </a>
        </div>

        <div class="blog-text  blog-4">
            <!-- header link -->
            <a routerLink="/blog/top-3-vocal-exercises-for-rappers"
            href="/blog/top-3-vocal-exercises-for-rappers" class="header-link">
            <h2 class="blog-title">TOP 3 VOCAL EXERCISES FOR RAPPERS</h2>
            </a>
            <p class="paragraph blog-description">There are few things that ruin a recording session like a fatigued
                voice that just won’t do what you want. Yet, most rappers treat their voice like an old car: it only
                exists to get you where you need to go, and there’s no point in keeping it tuned up or performing
                regular maintenance. Unfortunately, this will lead to underwhelming performances and stress or fatigue
                that will wear down your voice over time. Treat your voice like the luxury vehicle of your dreams, and
                it will only become stronger, fuller and more consistent as a result. To help, we’ve put together a few
                simple vocal exercises that you can do before you get into the studio to keep the vocal strain at… <a
                routerLink="/blog/top-3-vocal-exercises-for-rappers"
                    href="/blog/top-3-vocal-exercises-for-rappers" class="blog-link">more</a></p>

        </div>
    </div>
    <!-- 5 basic keys to a productive studio session -->
    <div class="blog-posts container-2">
        <div class="img-wrapper">
            <a routerLink="/blog/5-basic-keys-to-a-productive-studio-session"
            href="/blog/5-basic-keys-to-a-productive-studio-session">
            <img class="blog-post-img" src="/assets/img/blog-img/rap-studio-near-me.webp" alt="">
            </a>
        </div>

        <div class="blog-text blog-5">
            <a routerLink="/blog/5-basic-keys-to-a-productive-studio-session"
            href="/blog/5-basic-keys-to-a-productive-studio-session" class="header-link"><h2 class="blog-title">5 BASIC KEYS TO A PRODUCTIVE STUDIO SESSION</h2></a>
            
            <p class="paragraph blog-description">There are few things that ruin a recording session like a fatigued
                voice that just won’t do what you want. Yet, most rappers treat their voice like an old car: it only
                exists to get you where you need to go, and there’s no point in keeping it tuned up or performing
                regular maintenance. Unfortunately, this will lead to underwhelming performances and stress or fatigue
                that will wear down your voice over time. Treat your voice like the luxury vehicle of your dreams, and
                it will only become stronger, fuller and more consistent as a result. To help, we’ve put together a few
                simple vocal exercises that you can do before you get into the studio to keep the vocal strain at… <a
                routerLink="/blog/5-basic-keys-to-a-productive-studio-session"
                    href="/blog/5-basic-keys-to-a-productive-studio-session" class="blog-link">more</a></p>

        </div>
    </div>
