<section class="blog-post">

    <div div class="blog-post container-2">
        <img class="blog-post-img" src="/assets/img/SERVICES_compressed.webp" alt="">

        <div class="blog-post-text paragraph">

            <h2 class="blog-post-title">How To Communicate With Your Audio Engineer</h2>

            <p>
                The holy grail of a recording artist is finding a team to make your music with. I’ve worked with artists
                who arrive in my studio with a full team assembled: co-writers, photographer, producer, graphic artist,
                manager, and so on. Their music almost always comes out sounding more polished and the release campaigns
                always go smoothly. At the end of the day, however, there is one member of your team that you should
                value above all: your audio engineer. Having chemistry with your audio engineer is essential because
                when all is said and done, it is the line of communication between the two of you that will determine
                how your music comes out. For your part, this means that you must have a clear understanding of what you
                want, and know how to express it verbally. Here are some basic tips for working with any audio engineer
                that will make their life easier and reduce the guesswork so that you get the product you’re looking for
                without spending your precious studio hours going back and forth endlessly
            </p>

            <p>

                <span class="blog-subtitle">1. Have a plan, and express it at the start of your session</span><br>

                Usually the first question I ask an artist once they’ve arrived and settled in is “what’s the plan for
                today?” It’s not just a question -- it gives me the reference for the artist’s goals that day and lets
                me know the starting line and the finish line that we are heading towards.

                Let’s take a metaphorical example. You’re the artist, and usually you spend a four hour recording
                session working on three or four different demos, just getting rough ideas out there and taking them
                home. But today, you have a song that you know is a banger and you want to devote lots of time to
                getting it just right. If you don’t communicate your plan to the engineer, he or she might assume that
                this is just any other song. If you get a mediocre take of the main vocal line, they might tell you it’s
                good enough. They might not bother getting the vocal effects set up just right, since they still think
                they’re working on a demo. They will value pace over precision, since they might be working off the
                assumption that there are tons more songs you want to record.

                In this case, you won’t get the results you want and you might get frustrated and assume your engineer
                is lazy or incompetent. In reality they are likely trying to anticipate your needs and meet them, but
                they are working off of incomplete information. So, do your best to communicate the birds’ eye view of
                your plan for that session. How many songs do you want to work on? Are they finished or do they still
                need some tweaking? Do you plan on releasing them soon, or just putting them in the vault for a later
                drop? Knowing the answers to all of these questions will help you immensely, but communicating them out
                loud will help your engineer even more.

            </p>

            <p>
                <span class="blog-subtitle">2. Learn the lingo</span><br>
                Knowing some basic recording terms will help you communicate your needs on the fly with your engineer.
                Rather than listing off a bunch of terms and definitions, I would rather give you a few concepts to look
                into on your own time. Specifically, let’s look at one of the most fundamental concepts that your
                engineer is considering when you’re recording: frequency. Together, frequency and time (plus volume)
                make up all of music.

                So what is frequency? One way to think of it is pitch, or how ‘high’ or ‘low’ something sounds. When you
                sing in a deep voice, the vibration of your vocal chords are generating a lot of low frequencies. If you
                make a squeak, you’re creating more high frequencies. Engineers typically use a plugin called an
                ‘equalizer’ to manage frequency ranges. Take a look at the simple equalizer below:


                <img class="eq-pic" src="/assets/img/blog-img/eq.webp" alt="">

                In this example, someone has rolled off (lowered) most of the higher frequencies, and raised up the
                lower frequencies. The overall sound created by this will be quite muffled and bassy. Your engineer
                likely won’t be treating your voice in this way. Usually they will make small and barely noticeable dips
                and boosts at specific frequencies. If you think your voice is too bassy -- or too squeaky, or too
                nasally -- these descriptions will help your audio engineer determine where they need to cut your voice
                in the frequency range.

                This is just one concept out of the many hundreds of ideas that are flying through your audio engineer’s
                head. To continue to communicate well with them, you will have to take it upon yourself to learn, ask
                questions, and always be descriptive.

            </p>

            <p>
                <span class="blog-subtitle">3. It’s not all on you</span><br>
                Reading this article, you might get the impression that you need to hold your engineer’s hand through a
                recording session. In reality, it’s the engineers job to guide you through the session, not the other
                way around. These tips are intended to provide an outline of how to create a mutual relationship of
                respect between you and your audio engineer. However, it is still possible that if you extend the effort
                to communicate clearly and learn the appropriate terms to express your needs, you might not get much in
                return. If that’s the case, I would suggest that you look elsewhere.
            </p>

        </div>
    </div>

</section>