@media(max-width:75em){
    .ebook-title{
        font-size: 32px;
    }

    .service-cards-container{
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .services-details{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contact-form{
        align-items: center;

    }

    .ebook-text{
        text-align: center;
    }

    .input-field{
        width: 90%;
    }

    .submit-button{
        width: 315px;
    }


}

@media(max-width:69em){
    .ebook-title{
        text-align: center;
    }

    .services-header{
        top: 20%;
    }

    .services-text{
        padding-left: 3rem;
        padding-right: 3rem;

    }

    .ebook-text{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media(max-width:56em){
    .service-cards-container{
        grid-template-columns:1fr;

    }

    .card{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .services-details{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 4.2rem;
        padding-right: 4.2rem;
    }

    .contact-form{
        margin-top: 75px;
    }

    .hero{
        background-attachment: local;
    }
}

@media(max-width:37em){
    .ebook-title{
        font-size: 22px;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        margin-bottom: 0;
    }

    .services-details{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .services-cards-container{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact-form{
        padding-bottom: 12.4rem;
    }

    .ebook-section{
        padding-bottom: 8rem;
    }
    
}

@media(max-width:25em){
    .submit-button{
        width: 180px;

    }

    .ebook-title{
        margin-top: 0px;
    }
}